
#text {
  color: blue;
  background-color: green;
  font-size: 100px;
}
#images {
  display: inline-block;
  width: 350px;
}
#border {
  border: 5px black dotted;
}
footer {
font-size: 100px;
color: green;
background-color: blue;
}

